#main_container {

    /* TABLAS */

    .restable {
        overflow-x:auto;
        width: 100%;
    }

    .tableback {
		border:1px solid $color_border_tabla;
		border-collapse:collapse;
        margin: 20px 0px;
        width: 100%;
	}
	.tableback th {
		border:1px solid $color_border_tabla;
		padding:10px;
		background: $gris_fondo;
        text-align: left;
        font-weight: 400;
        text-transform: uppercase;
	}
	.tableback td {
		border:1px solid $color_border_tabla;
		padding:10px;

        &.actions {

            .tablebtn {
                margin-right: 10px;
                display: inline-block;

                a {
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 1.5rem;
                        margin-right: 0;

                        &.btn-edit{
                            color: $color_edit;
        
                            &:hover {
                                color: $color_text;
                            }
                        }
        
                        &.btn-del {
                            color: $color_del;
        
                            &:hover {
                                color: $color_text;
                            }
                        }

                        &.btn-add {
                            color: $color_new;
        
                            &:hover {
                                color: $color_text;
                            }
                        }
                    }
                }
            }
        }
	}

    .form {

        width: 100%;
        max-width: 800px;

        .row-1, .row-2, .row-4 {
            gap: 20px;
            width: 100%;
            margin-bottom: 10px;
            display: grid;
        }

        .row-1 {
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr; 
            grid-template-areas: 
            ".";
            @include mix-tablet {
                grid-template-columns: 1fr; 
                grid-template-rows: 1fr; 
                grid-template-areas: 
                ".";
            }
        }

        .row-2 {
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr; 
            grid-template-areas: 
            ".";
            @include mix-tablet {
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: 1fr; 
                grid-template-areas: 
                ". .";
            }
        }

        .row-4 {
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr; 
            grid-template-areas: 
            ".";
            @include mix-tablet {
                grid-template-columns: 1fr 1fr 1fr 1fr; 
                grid-template-rows: 1fr; 
                grid-template-areas: 
                ". . . .";
            }
        }


        .form-item {
            width: 100%;

            input, select, textarea {
                width: 100%;
                padding: 5px 10px;
            }
        }
    }



    
    
}


.btn {
    padding: 10px 13px;
    background-color: $color_new;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin: 10px 0px;

    &:hover {
        background-color: $color_text;
    }

    &.btn-blue {
        background-color: $green;
    }
}