@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  color: #31363b;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  body.on_hidden {
    overflow: hidden; }

p {
  margin-bottom: 20px; }

#grid_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 100px 1fr;
  gap: 0px;
  grid-template-areas: "side" "top" "main";
  min-height: 100vh; }
  @media only screen and (min-width: 768px) {
    #grid_container {
      grid-template-columns: 300px 1fr;
      grid-template-rows: 100px 1fr;
      gap: 0px;
      grid-template-areas: "side top" "side main"; } }
  #grid_container #sidebar_container {
    grid-area: side;
    background: #31363b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px; }
    @media only screen and (min-width: 768px) {
      #grid_container #sidebar_container {
        flex-direction: column;
        justify-content: start;
        padding-right: 0px; } }
    #grid_container #sidebar_container #logo_box {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      border-bottom: none; }
      #grid_container #sidebar_container #logo_box img {
        width: 200px; }
      @media only screen and (min-width: 768px) {
        #grid_container #sidebar_container #logo_box {
          border-bottom: 1px solid #5D5D5D; } }
  #grid_container #top_container {
    grid-area: top;
    background: #F3F3F3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px; }
    @media only screen and (min-width: 768px) {
      #grid_container #top_container {
        padding: 40px; } }
  #grid_container #main_container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
    background-color: #FFF; }
    @media only screen and (min-width: 768px) {
      #grid_container #main_container {
        padding: 40px; } }

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px; }
  @media only screen and (min-width: 768px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }

@media only screen and (min-width: 992px) {
  body.on_hidden {
    overflow: auto; } }
i {
  margin-right: 10px; }

#main_container {
  /* TABLAS */ }
  #main_container .restable {
    overflow-x: auto;
    width: 100%; }
  #main_container .tableback {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%; }
  #main_container .tableback th {
    border: 1px solid #C0C0C0;
    padding: 10px;
    background: #F3F3F3;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase; }
  #main_container .tableback td {
    border: 1px solid #C0C0C0;
    padding: 10px; }
    #main_container .tableback td.actions .tablebtn {
      margin-right: 10px;
      display: inline-block; }
      #main_container .tableback td.actions .tablebtn a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; }
        #main_container .tableback td.actions .tablebtn a i {
          font-size: 1.5rem;
          margin-right: 0; }
          #main_container .tableback td.actions .tablebtn a i.btn-edit {
            color: #FFC107; }
            #main_container .tableback td.actions .tablebtn a i.btn-edit:hover {
              color: #31363b; }
          #main_container .tableback td.actions .tablebtn a i.btn-del {
            color: #DC3545; }
            #main_container .tableback td.actions .tablebtn a i.btn-del:hover {
              color: #31363b; }
          #main_container .tableback td.actions .tablebtn a i.btn-add {
            color: #28A745; }
            #main_container .tableback td.actions .tablebtn a i.btn-add:hover {
              color: #31363b; }
  #main_container .form {
    width: 100%;
    max-width: 800px; }
    #main_container .form .row-1, #main_container .form .row-2, #main_container .form .row-4 {
      gap: 20px;
      width: 100%;
      margin-bottom: 10px;
      display: grid; }
    #main_container .form .row-1 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "."; }
      @media only screen and (min-width: 768px) {
        #main_container .form .row-1 {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          grid-template-areas: "."; } }
    #main_container .form .row-2 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "."; }
      @media only screen and (min-width: 768px) {
        #main_container .form .row-2 {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          grid-template-areas: ". ."; } }
    #main_container .form .row-4 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "."; }
      @media only screen and (min-width: 768px) {
        #main_container .form .row-4 {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          grid-template-areas: ". . . ."; } }
    #main_container .form .form-item {
      width: 100%; }
      #main_container .form .form-item input, #main_container .form .form-item select {
        width: 100%;
        padding: 5px 10px; }

.btn {
  padding: 10px 13px;
  background-color: #28A745;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 10px 0px; }
  .btn:hover {
    background-color: #31363b; }
  .btn.btn-blue {
    background-color: #219ebc; }

#menu {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #FFFFFF;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10; }
  #menu li {
    list-style: none; }
    #menu li i {
      color: #31363b;
      width: 20px; }
    #menu li a {
      text-decoration: none;
      color: #31363b;
      text-transform: uppercase;
      font-weight: 400; }
      #menu li a.active {
        color: #219ebc; }
      #menu li a:hover {
        color: #219ebc; }
  #menu.on_menu {
    display: flex;
    animation: muestraMenu 0.3s ease-in-out forwards; }

@keyframes muestraMenu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes ocultaMenu {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@media only screen and (min-width: 768px) {
  #nav_container {
    width: 100%; }

  #menu {
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    padding: 0px;
    margin: 0px;
    align-items: baseline; }
    #menu li {
      margin: 0px 0px 0px 0px;
      padding: 20px; }
      #menu li i {
        color: #FFF;
        width: 20px; }
      #menu li a {
        color: #FFF; }
        #menu li a:hover {
          color: #219ebc; }
      #menu li:last-child {
        margin-right: 0; }

  #menu_btn {
    display: none; } }
#login-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #F3F3F3; }
  #login-main form {
    padding: 40px;
    background-color: #FFFFFF;
    max-width: 400px; }
    #login-main form h2 {
      text-align: left;
      margin-bottom: 40px; }
    #login-main form .login-item {
      margin-bottom: 20px; }
      #login-main form .login-item.mensaje {
        color: #DC3545; }
      #login-main form .login-item input, #login-main form .login-item label {
        width: 100%; }
      #login-main form .login-item label {
        text-transform: uppercase; }
      #login-main form .login-item input {
        padding: 5px 10px; }

/*# sourceMappingURL=style.css.map */
