//MEDIA QUERIES
$mobile: 576px;
$tablet: 768px;
$tablet-md: 992px;
$desktop: 1200px;

// COLORES
$gris_fondo: #F3F3F3;
$green: #219ebc;
$gris_texto: #5D5D5D;
$fondo_boton: #ece6bf;
$color_text: #31363b;
$color_del: #DC3545;
$color_edit: #FFC107;
$color_new: #28A745;
$color_border_tabla: #C0C0C0;


//ALTO SLIDER HOME
$alto_slider: 500px;